<!-- CONTACT SECTION -->
<%= form_for @contact, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
<section id="contact" class="parallax-section">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-sm-12 mt-4">
            <!-- SECTION TITLE -->
            <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
               <h2>Get in touch</h2>
               <p>Lorem ipsum dolor sit amet, consectetur venenatis tincidunt.</p>
            </div>
         </div>
         <div class="col-md-7 col-sm-10">
            <!-- CONTACT FORM HERE -->
            <div class="wow fadeInUp" data-wow-delay="0.4s">
               <form id="contact-form">
                  <div class="col-md-6 col-sm-6">
                     <%= f.text_field :name, class:'form-control', placeholder:'Name', required: true %>
                  </div>
                  <div class="col-md-6 col-sm-6">
                     <%= f.text_field :reason, class:'form-control', placeholder:'Reason', required: true %>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <%= f.text_area :message, :rows => 5, class:'form-control', placeholder:'Message', required: true %>
                     <!-- <textarea class="form-control" rows="5" name="message" placeholder="Message" required=""></textarea> -->
                  </div>
                  <div class="col-md-offset-8 col-md-4 col-sm-offset-6 col-sm-6">
                     <%= f.submit 'New user', class:"form-control btn btn-outline-primary" %>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-md-5 col-sm-8">
            <!-- CONTACT INFO -->
            <div class="wow fadeInUp contact-info" data-wow-delay="0.4s">
               <div class="section-title">
                  <h2>Contact Info</h2>
                  <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis et tortor consectetur adipisicing lacinia tortor morbi ultricies.</p>
               </div>
               <p><i class="fa fa-map-marker"></i> 456 New Street 22000, New York City, USA</p>
               <p><i class="fa fa-comment"></i> <a href="mailto:info@company.com">info@company.com</a></p>
               <p><i class="fa fa-phone"></i> 010-020-0340</p>
            </div>
         </div>
      </div>
   </div>
</section>
<% end %>
