<% provide(:title, "Home") %>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path 'producto5.jpg'%>" class="d-block w-100" height="300px">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path 'producto4.jpg'%>" class="d-block w-100" height="300px">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!- presente login ->
<div class="jumbotron">
  <% if user_signed_in? %>
    <h1 class="display-4">BIENVENIDO <%= current_user.name %> <%= current_user.lastname %></h1>
    <% else %>
    <h1 class="display-4">BIENVENIDO</h1>
  <% end %>

  <p class="lead">pan caliente es una de las mejores panaderias del pais que se enorgullece de su gran avance a nivel nacional .</p>
  <hr class="my-4">
  <p>Registrate para disfrutar de una gran variesdad y esquesites de producto en pan caliente</p>
  <%= link_to "Ver perfil",  admin_path, class:"btn btn-primary btn-lg" %>
</div>
<!- fin de login->

<h1 class="display-4 text-center"> Nuestras Categorias </h1>
<div class="row  abs-center">
  <div class="col-sm-3 ">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'reposteria.jpg'%>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Categoria 1</h5>
          <p class="card-text">Descripcion de Categoria.</p>
          <%= link_to "Ver Categoria",  cake_shop_path, class:"btn btn-primary " %>
        </div>
    </div>
  </div>

  <div class="col-sm-3">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'dulceria.jpg'%>" class="card-img-top" height="130px">
        <div class="card-body">
          <h5 class="card-title">Categoria2</h5>
          <p class="card-text">Descripcion de la categoria.</p>
          <%= link_to "Ver Categoria",  candy_store_path, class:"btn btn-primary " %>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'bebidas.jpg'%>" class="card-img-top" height="130px">
        <div class="card-body">
          <h5 class="card-title">Categoria3</h5>
          <p class="card-text">Descripcion de categoria</p>
          <%= link_to "Ver Categoria",  drinks_path, class:"btn btn-primary " %>
        </div>
    </div>
  </div>
</div>

<h1 class="display-4 text-center"> Nuestros Mejores Productos</h1>
<div class="row  abs-center">
  <div class="col-sm-3 ">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'reposteria.jpg'%>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Producto1</h5>
          <p class="card-text">Informacion del productos.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
  </div>

  <div class="col-sm-3">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'dulceria.jpg'%>" class="card-img-top" height="130px">
        <div class="card-body">
          <h5 class="card-title">Producto2</h5>
          <p class="card-text">Informacion del producto.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'bebidas.jpg'%>" class="card-img-top" height="130px">
        <div class="card-body">
          <h5 class="card-title">Prodcuto3</h5>
          <p class="card-text">Informacion del producto</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
  </div>
</div>

<h3 class="display-6">Categoria1</h3>
<div class="row  abs-center">
  <div class="col-sm-3 ">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'reposteria.jpg'%>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Producto1</h5>
          <p class="card-text">Informacion del producto.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
  </div>

  <div class="col-sm-3">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'dulceria.jpg'%>" class="card-img-top" height="130px">
        <div class="card-body">
          <h5 class="card-title">Prodcuto2</h5>
          <p class="card-text">Informacion del prodcuto.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'bebidas.jpg'%>" class="card-img-top" height="130px">
        <div class="card-body">
          <h5 class="card-title">Producto3</h5>
          <p class="card-text">Informacion del producto</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
  </div>
</div>

<h3 class="display-6">Categoria2</h3>
<div class="row  abs-center">
  <div class="col-sm-3 ">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'reposteria.jpg'%>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Producto1</h5>
          <p class="card-text">Informacion del producto.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
  </div>

  <div class="col-sm-3">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'dulceria.jpg'%>" class="card-img-top" height="130px">
        <div class="card-body">
          <h5 class="card-title">Producto2</h5>
          <p class="card-text">Informacion del producto</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'bebidas.jpg'%>" class="card-img-top" height="130px">
        <div class="card-body">
          <h5 class="card-title">Producto3</h5>
          <p class="card-text">Informacion del producto</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
  </div>
</div>

<%= render 'contact' %>
