

<!--<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, placeholder:"Enter your name" %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, autofocus: true, placeholder:"Enter your lastname" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true, placeholder:"Enter your address" %>
  </div>

  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.number_field :mobile, autofocus: true, placeholder:"Enter your mobile" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Enter your email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>-->
<body class="abs-center">
<br>
<div class="login">
      <h2>REGISTRARSE</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <form>
            <div class="input-group">
                <%= f.text_field :name, autofocus: true, required:"required" %>
                <span>Nombre</span>
            </div>

            <div class="input-group">
                <%= f.text_field :lastname, autofocus: true, required:"required" %>
                <span>Segundo nombre</span>
            </div>
            <div class="input-group">
              <%= f.text_field :address, autofocus: true,  required:"required" %>
              <span>Direccion</span>
            </div>
            <div class="input-group">
              <%= f.number_field :mobile, autofocus: true, required:"required" %>
              <span>Telefono</span>
            </div>
            <div class="input-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", required:"required" %>
              <span>Email</span>
            </div>
            <div class="input-group">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", required:"required", placeholder:"password" %>
            </div>
            <div class="input-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", required:"required" %>
              <span>Password</span>

            </div>

            <div class="input-group">
                <%= f.submit "sign up", value:"Registrarse" %>
            </div>
            <%= render "devise/shared/links" %>
        </form>
        <% end %>

  </div>
  </body>
