<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div style="font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
    <table style="width: 100%;">
      <tr>
        <td></td>
        <td bgcolor="#FFFFFF ">
          <div style="padding: 15px; max-width: 600px;margin: 0 auto;display: block; border-radius: 0px;padding: 0px; border: 1px solid lightseagreen;">
      <table style="width: 100%;background: #64c29d ;">
        <tr>
          <td></td>
          <td>
            <div>
              <table width="100%">
                <tr>
                  <td rowspan="2" style="text-align:center;padding:10px;">
                    <!-- <img src="https://s3.amazonaws.com/vigitecol-contenedores/uploads/yenny.png"> -->
                    <span style="color:white;float:right;font-size: 13px;font-style: italic;margin-top: 20px; padding:10px; font-size: 14px; font-weight:normal;">"Recuerda programar esta cita y contactar a tu cliente"<span></span></span>
                  </td>
                </tr>
              </table>
            </div>
          </td>
          <td></td>
        </tr>
      </table>
      <table style="padding: 10px;font-size:14px; width:100%;">
        <tr>
          <td style="padding:10px;font-size:14px; width:100%;">
            <p><h2>Hola gerente comercial<h2></p>
            <p><h3><strong><%= @contact.name %></strong> quiere contactarse contigo</h3></p>
            <p><h3><strong>Asunto: </strong></h3><h4><%= @contact.reason %></h4></p>
            <p><h3><strong>Mensaje: </strong></h3><h4><%= @contact.message %></h4></p>
            <p>Recuerda contactarte con el cliente, no lo vallas a perder.</p>
          <!-- /Callout Panel -->
          <!-- FOOTER -->
          </td>
        </tr>
			  <tr>
  			  <td>
  				 <div align="center" style="font-size:12px; margin-top:20px; padding:5px; width:100%; background:#eee;">
             <a target="_blank" style="color:#333; text-decoration: none;">© Panaderia</a>
           </div>
          </td>
			  </tr>
      </table>
          </div>
  </body>
</html>
