Welcome to example.com, <%= @contact.email %>
===============================================

You have successfully signed up to example.com,
your username is: <%= @user.name %>.

Thanks for joining and have a great day!
