<%= render 'admin_page/sidebar'%>
<div class="page-container">

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">


                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">Usuarios registrados</h2>
                        <div class="table-responsive table--no-card m-b-40">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Nombre</th>
                                        <th>Telefono</th>
                                        <th class="text-right">direccion</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                  <% @users.each do |user|%>
                                    <tr>
                                        <td><%= user.email%></td>
                                        <td><%= user.name%></td>
                                        <td><%= user.mobile%></td>
                                        <td><%= user.address%></td>

                                    </tr>
                                  <%end%>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>
