


<!--<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>-->


<body class="abs-center">


      <div class="login">
            <h2>Sign In</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <form>
                  <div class="input-group">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", required:"required" %>
                      <span>Email</span>
                  </div>

                  <div class="input-group">
                      <%= f.password_field :password, autocomplete: "current-password", required:"required" %>
                      <span>Password</span>
                  </div>
                  <div class="row align-items-center remember">
                    <% if devise_mapping.rememberable? %>

                        <%= f.check_box :remember_me, placeholder:"remember_me" %>
                        <%= f.label :remember_me %>

                    <% end %>
                  </div>

                  <div class="input-group">
                      <%= f.submit "Log in", value:"login" %>
                  </div>
              </form>
              <% end %>
            <%= render "devise/shared/links" %>
        </div>
</body>
