.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}


/*---------------------------------------
  Contact section
-----------------------------------------*/
section#contact {
  background-color: aliceblue;
}

.contact-info .fa {
  padding-right: 5px;
}

#contact .form-control {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: #999999;
}

#contact input {
  height: 55px;
}

#contact button#submit {
  background: #2b2b2b;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  height: 50px;
  margin-top: 24px;
}

#contact button#submit:hover {
  background: #7682cc;
  color: #ffffff;
}





/*body
{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: poppins,sans-serif;
    background-color:#42f4c2;
}*/

.login
{
    text-align: center;
    width: 350px;
    margin-top: 100px;
    box-sizing: border-box;
    padding: 30px;
    background:#fff;
    border: 2px solid black;
}

.login h2
{
    margin: 0 0 20px;
    padding: 0;
    font-size: 30px;
    text-transform: uppercase;
}

.login .input-group
{
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.login .input-group input
{
    height: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    border:1px solid #000;
}

.login .input-group span
{
    position: absolute;
    top:12px;
    left: 20px;
    padding: 0;
    transition: 0.5s;
    pointer-events: none;
    background:#fff;
    text-transform: uppercase;
}

.login .input-group input:focus~span,
.login .input-group input:valid~span
{

    top:-12px;
    left: -12px;
    font-size: 12px;
    padding: 2px 4px;
    border: 1px solid #000;
    background:#42f4c2;
}

.login .input-group input[type="submit"]
{
    background: #42f4c2;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.login .input-group input[type="submit"]:hover
{
    background: #ffc107;
}

.login a
{
    color: #262626;
     display: block;
    text-align: left;
    color: #666;
}

.login a span
{
    color: #262626;
    font-weight: 600;
}
