
<br>
<br>
<br>

<h3 class="display-6">Reposteria</h3>
<div class="row  abs-center">
  <div class="col-sm-3 ">
      <div class="card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'reposteria.jpg'%>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Producto1</h5>
          <p class="card-text">Informacion de producto.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
  </div>

  <div class="col-sm-3">
      <div class="card border-info mb-3" style="width: 18rem; ">
      <img src="<%= asset_path 'dulceria.jpg'%>" class="card-img-top" height="130px">
        <div class="card-body">
          <h5 class="card-title">Producto2</h5>
          <p class="card-text">Informacion del producto.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'bebidas.jpg'%>" class="card-img-top" height="130px">
        <div class="card-body">
          <h5 class="card-title">Producto3</h5>
          <p class="card-text">Informacion del producto</p>
          <a href="#" class="btn btn-primary">comprar</a>
        </div>
    </div>
  </div>
</div>
