
<br>
<br>
<br>

<h3 class="display-6">Bebidas</h3>
<div class="row  abs-center">
  <div class="col-sm-3 ">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'reposteria.jpg'%>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">REPOSTERIA</h5>
          <p class="card-text">Disfruta de nuestra gran variedad de productos como pan caliente entre otros productos.</p>
          <a href="#" class="btn btn-primary">VER MENU</a>
        </div>
    </div>
  </div>

  <div class="col-sm-3">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'dulceria.jpg'%>" class="card-img-top" height="130px">
        <div class="card-body">
          <h5 class="card-title">DULCERIA</h5>
          <p class="card-text">Gosate nuestra gran variedad de dulces y caramelos disponibles para toda ocasion.</p>
          <a href="#" class="btn btn-primary">VER MENU</a>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="card card border-info mb-3" style="width: 18rem;">
      <img src="<%= asset_path 'bebidas.jpg'%>" class="card-img-top" height="130px">
        <div class="card-body">
          <h5 class="card-title">BEBIDAS</h5>
          <p class="card-text">Disfruta de nuestras ricas y deliciosas bebidas las cuales te refrescaran en tu venida</p>
          <a href="#" class="btn btn-primary">VER MENU</a>
        </div>
    </div>
  </div>
</div>
