
<p id="notice"><%= notice %></p>



<!--<h1>Products</h1>

<table>
  <thead>
    <tr >
      <th>Title</th>
      <th>Body</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr >
        <td><%= product.title %></td>
        <td><%= product.body %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>-->


<div class="row">
    <div class="col-lg-9">
        <h2 class="title-1 m-b-25">Productos regitrados</h2>
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                      <th>Title</th>
                      <th>Body</th>
                      <th>Price</th>
                      <th>Quantity</th>
                        <th class="text-right">mostrar</th>
                        <th class="text-right">modificar</th>
                        <th class="text-right">eliminar</th>

                    </tr>
                </thead>
                <tbody>

                  <% @products.each do |product| %>
                    <tr >
                      <td><%= product.title %></td>
                      <td><%= product.body %></td>
                      <td><%= product.price %></td>
                      <td><%= product.quantity %></td>
                      <td><%= link_to 'Show', product %></td>
                      <td><%= link_to 'Edit', edit_product_path(product) %></td>
                      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>


                </tbody>
            </table>
        </div>
    </div>

</div>
<%= link_to 'New Product', new_product_path %>
