<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Panaderia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-100  justify-content-center">
      <li class="nav-item active">
        <%= link_to "Home",  root_path, class:"nav-link" %>

      </li>
      <li class="nav-item">
        <%= link_to "productos",  products_path, class:"nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <%= link_to "Categoria1",  cake_shop_path, class: "dropdown-item" %>

          <%= link_to "Categoria2",  drinks_path, class: "dropdown-item" %>

          <%= link_to "Categoria3",  candy_store_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>

  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <% if !user_signed_in? %>
      <%= link_to 'Inicar sesion', new_user_session_path, class:'btn btn-outline-primary my-2 my-sm-0 mr-2' %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
          <button class="btn btn-outline-dark my-2 my-sm-0">Cerrar sesion</button>
      <% end %>
    <% end %>

  </form>
</nav>
